*.gz
*.csv
*.pyc
*.txt
*.png
*.jpg
*.mat
data
*.phe
*.fam
*.bed
*.bim
*checkpoint.ipynb
*.filepart
*checkpoint.py
.*
GWAS_HAIL/*.vds
GWAS_HAIL/*.vds/*
GWAS_HAIL/*.kt
GWAS_HAIL/*.kt/*
*~
*.log
.Rproj.user
