*.gz
*.csv
*.pyc
*.txt
*.png
*.jpg
*.mat
data
*.phe
*.fam
*.bed
*.bim
*.tsv
*checkpoint.ipynb
*.filepart
*checkpoint.py
*.md5
*.zip
.*
GWAS_HAIL/*.vds
GWAS_HAIL/*.vds/*
GWAS_HAIL/*.kt
GWAS_HAIL/*.kt/*
*~
*.log
.Rproj.user
PheWas/patient_diag_filter
PheWas/patient_diag
PheWas/70
PheWas/93
*.rds
*.rda
small_datasets/*
ldsc/test/*
PheWas/patient_diag
PheWas/patient_diag_filter
PheWas/pheno_patient_diag
PheWas/pheno_patient_diag_ecg