HAIL_HOME="/mnt/d/hail/hail/build/libs"
spark-submit \
  --driver-memory 100g \
  --jars $HAIL_HOME/hail-all-spark.jar \
  --conf spark.driver.extraClassPath=$HAIL_HOME/hail-all-spark.jar \
  --conf spark.executor.extraClassPath=./hail-all-spark.jar \
  --conf spark.serializer=org.apache.spark.serializer.KryoSerializer \
  --conf spark.kryo.registrator=is.hail.kryo.HailKryoRegistrator \
	8_export_results.py
	#7_run_linreg3.py
	#4_build_pipelines.py
