#PYSPARK_SUBMIT_ARGS="--driver-memory 100g pyspark-shell" python3 run_gwas.py

HAIL_HOME="/data/hail/hail/build/libs"
#  --files qc.tsv \
#  --archives mfi.zip pipeline.zip /data/UKBB_data/imputed/ \
#  --master spark://10.219.190.87:7077 \
#  --executor-memory 50g \
spark-submit \
  --driver-memory 100g \
  --jars $HAIL_HOME/hail-all-spark.jar \
  --conf spark.driver.extraClassPath=$HAIL_HOME/hail-all-spark.jar \
  --conf spark.executor.extraClassPath=./hail-all-spark.jar \
  --conf spark.serializer=org.apache.spark.serializer.KryoSerializer \
  --conf spark.kryo.registrator=is.hail.kryo.HailKryoRegistrator \
	5_make_variant_annotation_vds.py
#    3_make_sample_qc_table.py
